@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  margin: auto;
  height: 100vh;
  align-items: center;
}

.container {
  border: 2px black solid;
  background-color: black;
  padding: 90px 10px 20px;

  border-radius: 10px;
}
.result {
  color: white;
  text-align: right;
  padding-right: 10px;
  margin-bottom: 15px;
  font-size: 30px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 12px;
}

.buttons .itemzero {
  grid-column: 1 / span 2;
  /* border-radius: 20px; */
}
button {
  border-radius: 10rem;
  border: none;
  font-weight: 400;
  font-size: 30px;
  padding: 15px;
  cursor: pointer;
}

.buttons .num {
  background-color: #363636;
  color: #fcfcfc;
}

.upoper {
  background-color: #a4a4a4;
  color: black;
}
.columnoper {
  background-color: #ff9834;
  color: white;
}
